[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
uvicorn = "*"
python-dotenv = "*"
openai = "*"
langchain = "*"
langgraph = "*"
aioredis = "*"
pydantic = "*"
langchain-openai = "*"
langchain-tavily = "*"
"httpx" = "*"
"beautifulsoup4" = "*"
tavily-python = "*"
"tenacity" = "*"
"google-api-python-client" = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
"pytest-asyncio" = "*"

[requires]
python_version = "3.13"
